@charset "UTF-8";
@media (max-width: 990px) {
  .about {
    width: 100%;
    margin: 68px auto 0;
  }
  .about .about_content-container {
    margin-top: 25px;
    display: block;
  }
  .about .about_content-container .about_content-wrapper {
    padding: 13px 0 40px;
    margin-bottom: 32px;
  }
  .about .about_content-container .about_content-wrapper .about_content {
    width: 80%;
  }
  .about .about_content-container .about_content-wrapper .about_content .about_contentTitle {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
    text-align: center;
  }
  .about .about_content-container .about_content-wrapper .about_content .about_contentText {
    line-height: 32px;
  }
}
@media (max-width: 800px) {
  .transformSkewY .transformSkewY_1 {
    background-color: rgba(189, 231, 255, 0.5);
    /* 透明度を追加 */
    transform: skewY(-11.09deg);
    margin-top: 0px;
    height: 488px;
  }
  .transformSkewY .transformSkewY_2 {
    background-color: rgba(189, 231, 255, 0.5);
    /* 透明度を追加 */
    transform: skewY(5deg);
    margin-top: 1498px;
    height: 600px;
  }
  .transformSkewY .transformSkewY_3 {
    background-color: rgba(189, 231, 255, 0.5);
    /* 透明度を追加 */
    transform: skewY(-4.83deg);
    margin-top: 471px;
    height: 881px;
  }
  header .headerMain {
    height: 79px;
  }
  header .headerMain .headerMain_list {
    display: none;
  }
  header .headerMain .headerMain_spMenu {
    display: block;
    height: 100%;
  }
  header .headerMain .headerMain_spMenu .headerMain_spMenuContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  header .headerMain .headerMain_spMenu .headerMain_spMenuContent .headerMain_spMenuImg {
    height: 70%;
  }
  header .headerMain .dropdown-wrapper {
    display: none;
  }
  .empty {
    height: 79px;
  }
  .bestTopics {
    width: 100%;
  }
  .bestTopics .feature-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .bestTopics .feature-wrapper .feature {
    margin: 0;
    width: calc((100% - 30px) / 2);
    /* margin-bottom handled by gap */
  }
  .bestTopics .feature-wrapper .feature .Thumbnail {
    aspect-ratio: 17/10;
    margin-bottom: 15px;
  }
  .bestTopics .feature-wrapper .feature .feature_text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .bestTopics .feature-wrapper .feature .feature_text__small {
    justify-content: space-between;
  }
  .bestTopics .feature-wrapper .feature .feature_text__small .feature_textAcount {
    gap: 7px;
  }
  .bestTopics .feature-wrapper .feature .feature_text__small .feature_textAcount .feature_textIcon {
    width: 33px;
  }
  .bestTopics .bestTopics_title {
    font-size: 24px;
    margin: 0 auto 33px;
    width: 100%;
  }
  .bestTopics .feature:nth-child(7), .bestTopics .feature:nth-child(8), .bestTopics .feature:nth-child(9) {
    display: none;
  }
  .bestTopics .bestTopics_button {
    margin: 8px auto 0;
    width: 74%;
    padding: 15px;
    border-radius: 5px;
  }
  .bestTopics .bestTopics_button .bestTopics_buttonContent {
    gap: 28px;
  }
  .bestTopics .bestTopics_button .bestTopics_buttonContent .bestTopics_buttonText {
    font-size: 12px;
  }
  .bestTopics .bestTopics_button .bestTopics_buttonContent .bestTopics_buttonIcon {
    width: 23px;
  }
  .popular {
    width: 100%;
    margin: 111px auto 0;
  }
  .popular .feature-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .popular .feature-wrapper .feature {
    margin: 0;
    width: calc((100% - 30px) / 2);
    /* margin-bottom handled by gap */
  }
  .popular .feature-wrapper .feature .Thumbnail {
    aspect-ratio: 17/10;
    margin-bottom: 15px;
  }
  .popular .feature-wrapper .feature .feature_text {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .popular .feature-wrapper .feature .feature_text__small {
    justify-content: space-between;
  }
  .popular .feature-wrapper .feature .feature_text__small .feature_textAcount {
    gap: 7px;
  }
  .popular .feature-wrapper .feature .feature_text__small .feature_textAcount .feature_textIcon {
    width: 33px;
  }
  .popular .popular_title {
    font-size: 24px;
    margin: 0 auto 17px;
    width: 100%;
  }
  .popular .feature-wrapper .feature:nth-child(4), .popular .feature-wrapper .feature:nth-child(5) {
    display: none;
  }
  .popular .feature_popularTitle {
    font-size: 24px;
  }
  .Hashtag {
    margin-top: 30px;
    padding: 36px 0;
  }
  .Hashtag .Hashtag_content {
    padding: 19px 0 15px;
  }
  .Hashtag .Hashtag_content .Hashtag_title {
    gap: 3px;
    margin: 0 auto 24px;
  }
  .Hashtag .Hashtag_content .Hashtag_title .Hashtag_titleIcon {
    width: 52px;
  }
  .Hashtag .Hashtag_content .Hashtag_title .Hashtag_titleText {
    font-size: 24px;
  }
  .Hashtag .Hashtag_content .wp_tag_cloud {
    width: 82%;
  }
  .Hashtag .Hashtag_content .wp_tag_cloud .Hashtag_text ul {
    padding: 0;
  }
  .Hashtag .Hashtag_content .wp_tag_cloud .Hashtag_text a {
    font-size: 18px;
    margin: 3px;
  }
  .about .about_title {
    font-size: 24px;
    width: 100%;
  }
  footer {
    margin-top: 80px;
    padding: 59px 0 27px;
  }
  footer ul {
    padding: 0;
  }
  footer .pcFooter {
    display: none;
  }
  footer .spFooter {
    display: block;
  }
  footer .spFooter .spFooter_content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 81%;
    margin: 0 auto;
  }
  footer .spFooter .spFooter_content .spFooter_list li {
    list-style: none;
  }
  footer .spFooter .spFooter_content .spFooter_list li a {
    display: block;
    color: #43474A;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 23px;
    width: auto;
  }
  footer .spFooter .spFooter_content .spFooter_list li a:last-child {
    padding-bottom: none;
  }
  footer .spFooter .spFooter_content .spFooter_list li ul {
    border-top: 2px solid #d3d3d3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
  }
  footer .spFooter .spFooter_content a {
    display: block;
    width: 33%;
  }
  footer .spFooter .spFooter_content a .spFooter_logo__nantopi {
    width: 100%;
  }
  footer .spFooter .spFooter_copyRight {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 62px;
  }
}
@media (max-width: 550px) {
  .bestTopics .feature-wrapper .feature {
    width: 92%;
    /* 88% -> 92% (paddingを入れたので少し広げる) */
  }
  .popular .feature-wrapper .feature {
    width: 92%;
  }
}
