body {
  background-color: #EDF2F5;
  color: #43474A;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

.topi-banner {
  width: 100%;
  height: auto;
}

.transformSkewY {
  position: relative;
  z-index: -1;
  height: 100vh;
}
.transformSkewY .transformSkewY_1 {
  background-color: #BDE7FF;
  transform: skewY(-4.87deg);
  margin-top: 193px;
  height: 500px;
}
.transformSkewY .transformSkewY_2 {
  background-color: #BDE7FF;
  transform: skewY(5deg);
  margin-top: 1000px;
  height: 900px;
}
.transformSkewY .transformSkewY_3 {
  background-color: #BDE7FF;
  transform: skewY(-4.83deg);
  margin-top: 715px;
  height: 500px;
}

.positionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: 2px solid black;
}
header .headerMain {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
header .headerMain .headerMain_logo {
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
}
header .headerMain .headerMain_logo .headerMain_logoImg {
  width: 100%;
}
header .headerMain .headerMain_list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .headerMain .headerMain_list li {
  list-style: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  display: inline-block;
  margin-left: 1.3rem;
}
header .headerMain .headerMain_list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
}
header .headerMain .headerMain_spMenu {
  display: none;
}
header .dropdown-wrapper {
  display: none;
}
header .dropdown-wrapper .dropdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}
header .dropdown-wrapper .dropdown li {
  list-style: none;
}
header .dropdown-wrapper .dropdown a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 35px 20px;
}

.empty {
  height: 90px;
}

main {
  max-width: 100vw;
  margin: 0 auto;
}

.bestTopics {
  margin: 0px auto 0;
  width: 92%;
}
.bestTopics .feature-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.bestTopics .feature-wrapper .feature {
  display: block;
  color: #43474A;
  text-decoration: none;
  width: 30%;
  margin-bottom: 72px;
}
.bestTopics .feature-wrapper .feature .Thumbnail {
  width: 100%;
  margin-bottom: 22px;
  aspect-ratio: 17/10;
}
.bestTopics .feature-wrapper .feature .Thumbnail img {
  border: 1.5px solid #575454;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.bestTopics .feature-wrapper .feature .feature_text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.bestTopics .feature-wrapper .feature .feature_text__small {
  display: flex;
  gap: 28px;
  align-items: center;
}
.bestTopics .feature-wrapper .feature .feature_text__small .feature_textAcount {
  display: flex;
  gap: 14px;
  align-items: center;
}
.bestTopics .feature-wrapper .feature .feature_text__small .feature_textAcount .feature_textIcon {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bestTopics .bestTopics_title {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 34px;
  width: 76%;
  border-bottom: 2px solid #d3d3d3;
  color: #FFB916;
}
.bestTopics .feature-wrapper {
  justify-content: space-between;
}
.bestTopics .bestTopics_button {
  display: block;
  color: #43474A;
  text-decoration: none;
  margin: 12px auto 0;
  padding: 26.5px;
  width: 479px;
  background-color: white;
  border: 2px solid #43474A;
  border-radius: 8px;
}
.bestTopics .bestTopics_button .bestTopics_buttonContent {
  display: flex;
  justify-content: center;
  gap: 47px;
  align-items: center;
}
.bestTopics .bestTopics_button .bestTopics_buttonContent .bestTopics_buttonText {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.bestTopics .bestTopics_button .bestTopics_buttonContent .bestTopics_buttonIcon {
  width: 40px;
}

.popular {
  background-image: url("img/GakusonLogo.png");
  width: 92%;
  margin: 88px auto 0;
}
.popular .feature-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.popular .feature-wrapper .feature {
  display: block;
  color: #43474A;
  text-decoration: none;
  width: 30%;
  margin-bottom: 72px;
}
.popular .feature-wrapper .feature .Thumbnail {
  width: 100%;
  margin-bottom: 22px;
  aspect-ratio: 17/10;
}
.popular .feature-wrapper .feature .Thumbnail img {
  border: 1.5px solid #575454;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.popular .feature-wrapper .feature .feature_text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.popular .feature-wrapper .feature .feature_text__small {
  display: flex;
  gap: 28px;
  align-items: center;
}
.popular .feature-wrapper .feature .feature_text__small .feature_textAcount {
  display: flex;
  gap: 14px;
  align-items: center;
}
.popular .feature-wrapper .feature .feature_text__small .feature_textAcount .feature_textIcon {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular .popular_title {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 51px;
  width: 76%;
  border-bottom: 2px solid #d3d3d3;
}
.popular .feature-wrapper {
  justify-content: space-around;
}
.popular .feature_popularTitle {
  font-size: 32px;
  display: inline-block;
}
.popular .st {
  background-color: -webkit-linear-gradient(left, #998100, #FFC778);
  background: linear-gradient(to right, #998100, #FFC778);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.popular .nd {
  background-color: -webkit-linear-gradient(left, #363B3E, #909DA4);
  background: linear-gradient(to right, #363B3E, #909DA4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.popular .rd {
  background-color: -webkit-linear-gradient(left, #99672A, #FFAB47);
  background: linear-gradient(to right, #99672A, #FFAB47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Hashtag {
  width: 100%;
  margin-top: 20px;
  border-top: 4px dotted #4a4848;
  border-bottom: 4px dotted #4a4848;
}
.Hashtag ul {
  padding: 0;
}
.Hashtag .Hashtag_content {
  padding: 36px 0 54px;
}
.Hashtag .Hashtag_content .Hashtag_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto 37px;
}
.Hashtag .Hashtag_content .Hashtag_title .Hashtag_titleIcon {
  width: 83px;
}
.Hashtag .Hashtag_content .Hashtag_title .Hashtag_titleText {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
.Hashtag .Hashtag_content .wp-tag-cloud {
  width: 92%;
  margin: 0 auto;
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-wrap: wrap;
}
.Hashtag .Hashtag_content .Hashtag_text {
  background-color: #30261e;
  list-style: none;
}
.Hashtag .Hashtag_content .Hashtag_text a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 5px;
}

.about {
  width: 92%;
  margin: 80px auto 0;
}
.about .about_title {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  width: 76%;
  border-bottom: 2px solid #d3d3d3;
  margin: 0 auto;
}
.about .about_content-container {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  gap: 65px;
}
.about .about_content-container .about_content-wrapper {
  background-color: white;
  padding: 16px 0 54px;
  border-radius: 172px;
}
.about .about_content-container .about_content-wrapper .about_content {
  width: 66%;
  margin: 0 auto;
}
.about .about_content-container .about_content-wrapper .about_content .about_contentTitle {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 54px;
}
.about .about_content-container .about_content-wrapper .about_content .about_contentText {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 32px;
}

footer {
  margin-top: 72px;
  background-color: #FAF0DB;
  padding: 90px 0 25px;
}
footer .pcFooter_content {
  width: 71%;
  margin: 0 auto;
  text-align: center;
}
footer .pcFooter_content .pcFooter_logo__nantopi {
  width: 14%;
}
footer .pcFooter_content .pcFooter_list {
  border-top: 2px solid #d3d3d3;
  display: flex;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .pcFooter_content .pcFooter_list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
footer .pcFooter_content .pcFooter_list li {
  list-style: none;
}
footer .pcFooter_content .pcFooter_list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 38px 10px;
}
footer .pcFooter_content .pcFooter_textIcon {
  width: 19%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}
footer .pcFooter_content .pcFooter_textIcon .pcFooter_logo__sns {
  display: block;
  width: 21%;
  padding-top: 6px;
}
footer .pcFooter_content .pcFooter_textIcon .pcFooter_logo__gakuson {
  width: 37%;
  padding-top: 0;
}
footer .pcFooter_content .pcFooter_textIcon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .pcFooter_content .pcFooter_copyRight {
  text-align: center;
}
footer .spFooter {
  display: none;
}/*# sourceMappingURL=style-33(pc).css.map */