@charset "UTF-8";

@media(max-width:990px){
    .about{
        width: 100%;
        margin: 68px auto 0;
    
            .about-container{
                margin-top:25px;
                display: block;
    
                .about-content-wrapper{
                    background-color: white;
                    padding: 13px 0 40px;
                    border-radius: 172px;
                    margin-bottom: 32px;
    
                    .about-content{
                        width: 80%;
                        margin: 0 auto;
        
                   .about-content-title{
                    font-size: 20px;
                    line-height: 32px;
                    margin-bottom: 24px;
                    text-align: center;
                   }
                   .about-content-text{
                    line-height: 32px;
                    font-weight: bold;
                    margin-bottom: 33px;
                   }
                  
                }
            }
            }
    }
}

@media(max-width:800px){

@mixin title(){
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}
@mixin link(){
    display: block;
    color: #43474A;
    text-decoration: none;
}

body{
    background-color: #EDF2F5;
    color: #43474A;
}

.transform-skewY{
    position: relative;
    z-index: -1;
    height: 100vh;

    @mixin back($deg){
        background-color: #BDE7FF;
        transform: skewY($deg);
    }
.transform-skewY_1{
    @include back(-11.09deg);
    margin-top: 0px;
    height: 488px;
}
.transform-skewY_2{
    @include back(5deg);
    margin-top: 1498px;
    height: 600px
}
.transform-skewY_3{
    @include back(-4.83deg);
    margin-top:471px ;
    height: 881px;
}
}

.position-absolute{
    position: absolute;
    top: 0;
    left: 0;    
}

.article-content-wrapper{

    .article-content{
        @include link;
        margin: 0 auto;
        width: 45%;
        margin-bottom:74px ;

        .Thumbnail{
            aspect-ratio:  17/ 10;
            width: 100%;
            margin-bottom: 15px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .article_text{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .article_text__small{
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .article_text__acount{
                display: flex;
                gap: 7px;
                align-items: center;
                .icon{
                    width: 33px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
    }
    }
}


header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index:10;
    top: 0;

    .header-main{
        height: 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        max-width: 1440px;

        .headerLogo{
            display:block;
            aspect-ratio:1/1;
            height: 100%;

            .headerLogo__img{
                width: 100%;
            }
        }

        .header-list{
            display:none;
        }
        .search-container{
            display: none;
        }
        .menu-icon{
            display : none;
        }
        .sp-menu{
            display: block;
            height: 100%;

            .sp-menu-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .sp-menu__search-icon{                    
                    height: 50%;
                    padding-right: 30px;
                }
                .sp-menu__menu-icon{
                    height: 70%;
                }
            
    }
}
        .dropdown-wrapper{
            display: none;
        
        .dropdown{
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            max-width: 2000px;
            margin: 0 auto;

            li{
                list-style: none
            }
            a{
                @include link();
                font-size: 20px;
                font-weight: bold;
                padding:35px 20px ;
            }
        }
    }
}    
}

main{
    max-width: 1440px;
    margin: 0 auto;
}


.empty{
    height: 79px;
}


    .main-visual{
        width: 100%;

        .main-visual-title{
            @include title();
            color: #FFB916;
            margin: 17px 0;
        }
        .picture-wrapper{
           
            .main-visual-picture{
                width: 100%;
                aspect-ratio:  8/ 5;
                object-fit: cover;
                &:last-child{
                    display: none;
                }
            }
        }
    }


    .article{
        margin: 0px auto 0;
        width: 100%;

        .article-title{
            @include title();
            margin:0 auto 33px;
            width: 100%;
            border-bottom: 2px solid #d3d3d3;
        }
        .article-content{
            &:nth-child(7),&:nth-child(8),&:nth-child(9){
                display: none;
            }
        }
        .article_button{
            @include link();

            margin: 8px auto 0;
            width: 74%;

            padding: 15px;
            background-color: white;
            border: 2px solid #43474A;
            border-radius: 5px;
        
            .article_button-content{
                display: flex;
                justify-content: center;
                gap: 28px;
                align-items: center;
                
            .article_button__text{
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            }
            .article_button__icon{
                width: 23px;
            }
        }
        }
    }

.popular{
    width: 100%;
    margin: 111px auto 0;

    .article-content-wrapper{
        justify-content: space-around;

        .article-content{
            &:nth-child(4),&:nth-child(5){
                display: none;
            }
        }
    }
    .popular-title{
        @include title();
        margin:0 auto 17px;
        width: 100%;
        border-bottom:2px solid #d3d3d3;
    }
    .popular-article-title{
     font-size:24px ;   
     display: inline-block;
    }
    .st{
        background-color:  -webkit-linear-gradient(left,#998100, #FFC778);
        background: linear-gradient(to right,#998100, #FFC778);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .nd{
        background-color:  -webkit-linear-gradient(left, #363B3E,#909DA4);
        background: linear-gradient(to right, #363B3E,#909DA4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .rd{
        background-color:  -webkit-linear-gradient(left,#99672A, #FFAB47);
        background: linear-gradient(to right,#99672A, #FFAB47);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}


.Hashtag{
    width: 100%;
    margin-top:30px ;
    padding: 36px 0;
    border-top: 4px dotted #4a4848;
    border-bottom:4px dotted #4a4848;

    .Hashtag-content{
        padding: 19px 0 15px;

        .Hashtag_title{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            margin: 0 auto 24px;

            .Hashtag_title__icon{
                width: 52px;
            }
            .Hashtag_title__text{
                @include title();
            }
        }
        .Hashtag-wrapper{
            width: 82%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2px;
        
           .Hashtag-text{
            background-color: #30261e;
            list-style: none;
            ul{
                padding: 0;
            }

            a{
                display: block;
                color: white;
                font-size: 18px;
                font-weight: bold;
                line-height: 27px;
                margin: 3px;
            }
        }
    }
    }
}




    .about-title{
        @include title();   
        width: 100%;
        border-bottom:2px solid #d3d3d3;
        margin: 0 auto;
    }   


footer{
    margin-top: 80px;
    background-color: #FAF0DB;
    padding: 59px 0 27px;

    ul{
        padding: 0;
    }
        .pc-footer{
            display: none;
        }
        .sp-footer{
            display: block;
            .sp-footer-content{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 81%;
                margin: 0 auto;

                .sp-footer-list{
                    li{
                        list-style: none;
                    a{
                        @include link();
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        padding-bottom: 23px;
                        width: auto;
                        &:last-child{
                            padding-bottom: none;
                        }
                    }
                    ul{
                        border-top: 2px solid #d3d3d3;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap; 
                        padding: 0;
                    }
                }
                }
                a{
                    display: block;
                    width: 33%;

                    .sp-footer-logo{
                        width: 100%;
                    }
                }
            }
            .sm-copy-right{
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                text-align: center;
                margin-top:62px ;
            }
        }
    }
}

@media(max-width:550px){
    .article-content-wrapper{
    .article-content{
        width: 88%;
    }   
}
}

