@charset "UTF-8";

@media(max-width:990px){
    .about{
        width: 100%;
        margin: 68px auto 0;
    
            .about_content-container{
                margin-top:25px;
                display: block;
    
                .about_content-wrapper{
                    padding: 13px 0 40px;
                    margin-bottom: 32px;
    
                    .about_content{
                        width: 80%;
        
                   .about_contentTitle{
                    font-size: 20px;
                    line-height: 32px;
                    margin-bottom: 24px;
                    text-align: center;
                   }
                   .about_contentText{
                    line-height: 32px;
                   }
                  
                }
            }
            }
    }
}

@media(max-width:800px){

@mixin feature33sp800(){
    .feature-wrapper{
    
        .feature{
            margin: 0 auto;
            width: 45%;
            margin-bottom:74px ;
    
            .Thumbnail{
                aspect-ratio:  17/ 10;
                margin-bottom: 15px;
            }
            .feature_text{
                font-size: 18px;
                margin-bottom: 20px;
            }
            .feature_text__small{
                justify-content: space-between;
            
                .feature_textAcount{
                    gap: 7px;
    
                    .feature_textIcon{
                        width: 33px;
                    }
                }
        }
        }
    }
    }
    

.transformSkewY{

.transformSkewY_1{
    transform: skewY(-11.09deg);
    margin-top: 0px;
    height: 488px;
}
.transformSkewY_2{
    transform: skewY(5deg);
    margin-top: 1498px;
    height: 600px
}
.transformSkewY_3{
    transform: skewY(-4.83deg);
    margin-top:471px ;
    height: 881px;
}
}

header{
   
    .headerMain{
        height: 79px;

        .headerMain_list{
            display:none;
        }
        .headerMain_spMenu{
            display: block;
            height: 100%;

            .headerMain_spMenuContent{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .headerMain_spMenuImg{
                    height: 70%;
                }   
    }
}
        .dropdown-wrapper{
            display: none;
    }
}    
}

.empty{
    height: 79px;
}


    .bestTopics{
        width: 100%;
        @include feature33sp800();

        .bestTopics_title{
            font-size: 24px;
            margin:0 auto 33px;
            width: 100%;
        }
        .feature{
            &:nth-child(7),&:nth-child(8),&:nth-child(9){
                display: none;
            }
        }
        .bestTopics_button{

            margin: 8px auto 0;
            width: 74%;

            padding: 15px;
            border-radius: 5px;
        
            .bestTopics_buttonContent{
                gap: 28px;
                
            .bestTopics_buttonText{
            font-size: 12px;
            }
            .bestTopics_buttonIcon{
                width: 23px;
            }
        }
        }
    }

.popular{
    width: 100%;
    margin: 111px auto 0;
    @include feature33sp800();

    .popular_title{
        font-size: 24px;
        margin:0 auto 17px;
        width: 100%;
    }
    .feature-wrapper{

        .feature{
            &:nth-child(4),&:nth-child(5){
                display: none;
            }
        }
    }
    .feature_popularTitle{
     font-size:24px ;  
    }
}


.Hashtag{
    margin-top:30px ;
    padding: 36px 0;

    .Hashtag_content{
        padding: 19px 0 15px;

        .Hashtag_title{
            gap: 3px;
            margin: 0 auto 24px;

            .Hashtag_titleIcon{
                width: 52px;
            }
            .Hashtag_titleText{
                font-size: 24px;
            }
        }
        .wp_tag_cloud{
            width: 82%;
        
           .Hashtag_text{
    
            ul{
                padding: 0;
            }

            a{
                font-size: 18px;
                margin: 3px;
            }
        }
    }
    }
}

.about{
    .about_title{
        font-size: 24px;   
        width: 100%;
    }  
  }   


footer{
    margin-top: 80px;
    padding: 59px 0 27px;

    ul{
        padding: 0;
    }
        .pcFooter{
            display: none;
        }
        .spFooter{
            display: block;
            .spFooter_content{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 81%;
                margin: 0 auto;

                .spFooter_list{
                    li{
                        list-style: none;
                    a{
                        display: block;
                        color: #43474A;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        padding-bottom: 23px;
                        width: auto;
                        &:last-child{
                            padding-bottom: none;
                        }
                    }
                    ul{
                        border-top: 2px solid #d3d3d3;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap; 
                        padding: 0;
                    }
                }
                }
                a{
                    display: block;
                    width: 33%;

                    .spFooter_logo__nantopi{
                        width: 100%;
                    }
                }
            }
            .spFooter_copyRight{
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                text-align: center;
                margin-top:62px ;
            }
        }
    }
}

@media(max-width:550px){

.bestTopics{
    .feature-wrapper{
        .feature{
            width: 88%;
        }   
    }    
}
.popular{
    .feature-wrapper{
        .feature{
            width: 88%;
        }   
    }
}

}

