@charset "UTF-8";
body {
    background-color: #EDF2F5;
    color: #43474A;
    //google fonts
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    width: 100%;
}
a{
   display: block;
   color: #43474A;
   text-decoration: none;
}
li{
    list-style: none;
    color: #43474A;
}
img {
    display: block;
}
span{
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}