@charset "UTF-8";
@media(max-width:800px){

header{
   
    .headerMain{
        height: 79px;

        .headerMain_list{
            display:none;
        }
        .headerMain_spMenu{
            display: block;
            height: 100%;

            .headerMain_spMenuContent{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .headerMain_spMenuImg{
                    height: 70%;
                }   
    }
}
        .dropdown-wrapper{
            display: none;
    }
}    
}

.empty{
    height: 79px;
}


footer{
    margin-top: 80px;
    padding: 59px 0 27px;

    ul{
        padding: 0;
    }
        .pcFooter{
            display: none;
        }
        .spFooter{
            display: block;
            .spFooter_content{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 81%;
                margin: 0 auto;

                .spFooter_list{
                    li{
                        list-style: none;
                    a{
                        display: block;
                        color: #43474A;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        padding-bottom: 23px;
                        width: auto;
                        &:last-child{
                            padding-bottom: none;
                        }
                    }
                    ul{
                        border-top: 2px solid #d3d3d3;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap; 
                        padding: 0;
                    }
                }
                }
                a{
                    display: block;
                    width: 33%;

                    .spFooter_logo__nantopi{
                        width: 100%;
                    }
                }
            }
            .spFooter_copyRight{
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                text-align: center;
                margin-top:62px ;
            }
        }
    }
}