body {
  background-color: #EDF2F5;
  color: #43474A;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

.transformSkewY {
  position: relative;
  z-index: -1;
  height: 100vh;
}
.transformSkewY .transformSkewY_1 {
  background-color: #BDE7FF;
  transform: skewY(-4.87deg);
  margin-top: 193px;
  height: 665px;
}

.positionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: 2px solid black;
}
header .headerMain {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  max-width: 1440px;
}
header .headerMain .headerMain_logo {
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
}
header .headerMain .headerMain_logo .headerMain_logoImg {
  width: 100%;
}
header .headerMain .headerMain_list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .headerMain .headerMain_list li {
  list-style: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  display: inline-block;
  margin-left: 1.3rem;
}
header .headerMain .headerMain_list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
}
header .headerMain .headerMain_spMenu {
  display: none;
}
header .dropdown-wrapper {
  display: none;
}
header .dropdown-wrapper .dropdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}
header .dropdown-wrapper .dropdown li {
  list-style: none;
}
header .dropdown-wrapper .dropdown a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 35px 20px;
}

.empty {
  height: 90px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.mainvisual {
  background-color: #2e2d2d;
  color: white;
  padding: 100px 0;
}
.mainvisual .mainvisual_text {
  text-align: center;
}

.mainBody_content {
  margin-top: 50px;
}
.mainBody_content h2 {
  text-align: center;
}
.mainBody_content p {
  text-align: center;
}

footer {
  margin-top: 72px;
  background-color: #FAF0DB;
  padding: 90px 0 25px;
}
footer .pcFooter_content {
  width: 71%;
  margin: 0 auto;
  text-align: center;
}
footer .pcFooter_content .pcFooter_logo__nantopi {
  width: 14%;
}
footer .pcFooter_content .pcFooter_list {
  border-top: 2px solid #d3d3d3;
  display: flex;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .pcFooter_content .pcFooter_list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
footer .pcFooter_content .pcFooter_list li {
  list-style: none;
}
footer .pcFooter_content .pcFooter_list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 38px 10px;
}
footer .pcFooter_content .pcFooter_textIcon {
  width: 19%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}
footer .pcFooter_content .pcFooter_textIcon .pcFooter_logo__sns {
  display: block;
  width: 21%;
  padding-top: 6px;
}
footer .pcFooter_content .pcFooter_textIcon .pcFooter_logo__gakuson {
  width: 37%;
  padding-top: 0;
}
footer .pcFooter_content .pcFooter_textIcon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .pcFooter_content .pcFooter_copyRight {
  text-align: center;
}
footer .spFooter {
  display: none;
}/*# sourceMappingURL=style-36(pc).css.map */