@charset "UTF-8";
@mixin link(){
    display: block;
    color: #43474A;
    text-decoration: none;
}
body{
    background-color: #EDF2F5;
    color: #43474A;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}

.transformSkewY{
    position: relative;
    z-index: -1;
    height: 100vh;

    @mixin back($deg){
        background-color: #BDE7FF;
        transform: skewY($deg);
    }
.transformSkewY_1{
    @include back(-4.87deg);
    margin-top: 193px;
    height: 665px;
}
}
.positionAbsolute{
    position: absolute;
    top: 0;
    left: 0;    
}
header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index:10;
    top: 0;
    border-bottom: 2px solid black;

    .headerMain{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;

        .headerMain_logo{
            display:block;
            aspect-ratio:1/1;
            height: 100%;

            .headerMain_logoImg{
                width: 100%;
            }
        }
        .headerMain_list{
            display: flex;
            justify-content: space-between;
            gap: 20px;

            li{
                list-style: none;
                font-size: 18px;
                line-height: 27px;
                font-weight: bold;
                display: inline-block;
                margin-left: 1.3rem;
                a{
                    @include link();
                }
            }
        }
        .headerMain_spMenu{
            display: none;
            
    }
}
        .dropdown-wrapper{
            display: none;
        
        .dropdown{
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            max-width: 2000px;
            margin: 0 auto;

            li{
                list-style: none
            }

            a{
                @include link();
                font-size: 20px;
                font-weight: bold;
                padding:35px 20px ;
            }
        }
    }
    
}

.empty{
    height: 90px;
}
main{
    max-width: 100%;
    margin: 0 auto;
}
.mainvisual{
    background-color: #2e2d2d;
    color: white;
    padding: 100px 0;

    .mainvisual_text{
        text-align: center;
    }
}
.mainBody_content{
    margin-top: 50px;
    
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }


}
footer{
    margin-top: 72px;
    background-color: #FAF0DB;
    padding: 90px 0 25px;

        .pcFooter_content{
            width: 71%;
            margin: 0 auto;
            text-align: center;

            .pcFooter_logo__nantopi{
                width: 14%;
            }
            .pcFooter_list{
                border-top: 2px solid #d3d3d3;
                display: flex;
                padding: 0;
                justify-content: space-around;
                flex-wrap: wrap;
                
                ul{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap; 
                    padding: 0;

                }
                li{
                    list-style: none;

                    a{
                    @include link();
                    font-size: 20px;
                    font-weight: bold;
                    padding: 38px 10px;
                }
                
                }

                
            }
            .pcFooter_textIcon{
                width: 19%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 49px;

                .pcFooter_logo__sns{
                    display: block;
                    width:21%;
                    padding-top:6px ;
                }
                .pcFooter_logo__gakuson{
                    width: 37%;
                    padding-top: 0;
                }

                img{
                    width: 100%;
                    object-fit: contain;
                }
        
                }
                .pcFooter_copyRight{
                    text-align: center;
                }
                }

                .spFooter{
                    display:none;
                }
            }
