@charset "UTF-8";

//ブレークポイント設定--------------------------------------------------
$breakpoints: (
    'sp': 750px,
    'tablet': 1024px,
);
@mixin media-sp {
    @media (max-width: map-get($breakpoints, 'sp')) {
        @content; 
    }
}
@mixin media-tablet {
    @media (max-width: map-get($breakpoints, 'tablet')){
        @content;
    }
}

//Module
.section_TitleConteiner{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 35px;
}
.section_titleIcon{
    width: 3rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    
    @include media-sp{
        width: 2rem;
    }
}
.section_title{
    font-size: 1.7rem;
    color: #617BFA;
    margin-left: 1dvw;

    @include media-sp{
        font-size: 1.5rem;
    }
}
.article_content{
    width: 100%;
}
.article_item{
    background-color: white;
    border-radius: 10px;
    padding: 15px 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.article_item__popu{
    position: static;
    display: flex;
    justify-content: left;
    align-items: center;

    @include media-sp{
        display: block;
        position: relative;
        margin-bottom: 30px;
        padding-top: 30px;
    }
}
.article_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.article_itemThumbnail{
    width: 15rem;
    aspect-ratio: 17/ 10;
    border-radius: 10px;
    border: 2px solid black;

    @include media-sp{
        width: 50dvw;
    }
    img{
        width: 100%;
        height: 100%;
        aspect-ratio: 17/ 10;
        object-fit: cover;
        border-radius: 10px;
    }
}
.article_text{
    margin-left: 3.8dvw;

    @include media-sp{
        width: 37dvw;
    }
}
.article_title{
    font-size: 1.5rem;
    margin-bottom: 10px;

    @include media-sp{
        font-size: 4.3dvw;
    }
}
.article_desc{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
.article_date{
    font-size: 1rem;

    @include media-sp{
        font-size: 2.7dvw;
    }
}
.article_author{
    font-size: 1rem;
    margin-left: 3.5dvw;

    @include media-sp{
        font-size: 2.6dvw;
        margin-left: 2dvw;
    }
}
.article_taxonomy{
    width: 100%;
}
.article_taxonomyInner{
    display: flex;
    align-items: center;
    justify-content: left;
}
.article_taxonomy__pc{
    display: block;

    @include media-sp{
        display: none;
    }
}
.article_taxonomy__sp{
    display: none;
    margin-top: 10px;

    @include media-sp{
        display: block;
    }
}
.article_taxonomyItem__category{
    display: flex;
    justify-content: left;
    align-items: center;
}
.article_taxonomyItemText{
    display: block;
    font-size: 1dvw;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #EBF0FF;

    @include media-sp{
        padding: 3px;
        font-size: 2.7dvw;
    }
}
.article_taxonomyItemText__category{
    margin-left: 1dvw;
}
.article_moreLink{
    font-size: 1.6rem;
    background-color: #617BFA;
    color: white;
    text-align: center;
    width: 42dvw;
    border-radius: 20px;
    margin: 62px auto 0;
    padding: 10px 0;

    @include media-sp{
        width: 55dvw;
        border-radius: 15px;
        font-size: 1.2rem;
    }
}
.article_num{
    font-size: 3.5dvw;
    color: white;
    text-align: center;
    border-radius: 500px;
    width: 6dvw;
    aspect-ratio: 1/1;
    background-color: #617BFA;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin-right: 1.7dvw;

    @include media-sp{
        position: absolute;
        top: -20px;
        font-size: 26px;
        width: 45px;
        margin-bottom: 10px;
    }
}
.article_num__1st{
    color: black;
    background-color: #F9C54A;
}

.tag_list{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.tag_listItem{
    margin-right: 2dvw;
    padding: 10px 30px;
    border-radius: 50px;
    margin-bottom: 20px;

    @include media-sp{
        padding: 8px 10px;
    }
}
.tag_itemLink{
    display: block;
    border-radius: 500px;
    font-size: 1rem;
    line-height: 2;
}
.tag_listItem__blue{
    background-color: #617BFA;

    a{
        color: white;    
    }
}
.tag_listItem__yellow{
    background-color: #F9C54A;

    a{
        color: black;    
    }
}