@charset "UTF-8";
//関数読み込み--------------------------------------------------
@mixin title() {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;

    @include media-sp{
        font-size: 1.75rem;
    }
}

//ブレークポイント設定--------------------------------------------------
$breakpoints: (
    'sp': 750px,
    'tablet': 1024px,
);
@mixin media-sp {
    @media (max-width: map-get($breakpoints, 'sp')) {
        @content; 
    }
}
@mixin media-tablet {
    @media (max-width: map-get($breakpoints, 'tablet')){
        @content;
    }
}

//個別Layout--------------------------------------------------
.l-article{
    width: 64%;
    margin: 100px auto 0;

    @include media-sp{
        width: 88%;
        margin-top: 50px;
    }
}

//その他--------------------------------------------------
.backBoard {
    display: block;
}
.backBoard_item {
    margin-top: 20vh;
}
.wp-block-post-title{
    width: 100%;
    box-sizing: border-box;
    font-size: 32px;
    padding: 24px 40px;
    background-color: white;
    border-left: 29px solid #BDE7FF;
    margin-bottom: 60px;
    box-shadow: 0 5px 3px gray;

    @include media-sp{
        font-size: 24px;
        padding: 18px 20px;
        border-left: 22px solid #BDE7FF;
        box-shadow: 0 4px 2px gray;
    }
}
.content{
    width: 90%;
    margin-bottom: 55px;            
}

.wantToRead_title{
    @include title();
    width: 76%;
    margin: 0 auto 65px;
    border-bottom:2px solid #d3d3d3;

    @include media-sp{
        font-size: 24px;
        width: 100%;
        margin-bottom: 40px;
    }
}