@charset "UTF-8";

@mixin title(){
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}
@mixin link(){
    display: block;
    color: #43474A;
    text-decoration: none;
}
@mixin feature35pc(){
    .feature-wrapper{

        .feature{
            @include link();
    
            .Thumbnail{
                width: 100%;
                margin-bottom: 22px;
                aspect-ratio:  17/ 10;
    
                img{
                    border: 1.5px solid #575454;
                    border-radius: 5px;
                    width: 100%;
                    height: 100%;
                }
            }
    
            .feature_text{
                font-weight: bold;
            }
            .feature_text__small{
                display: flex;
                justify-content: space-between;
                align-items: center;
            
                .feature_textAcount{
                    display: flex;
                    align-items: center;
    
                    .feature_textIcon{
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
        }
        }
    }
}
@mixin back($deg){
    background-color: #BDE7FF;
    transform: skewY($deg);
}

body{
    background-color: #EDF2F5;
    color: #43474A;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
}

.transformSkewY{
    position: relative;
    z-index: -1;
    height: 100vh;

.transformSkewY_1{
    @include back(-4.87deg);
    margin-top: 193px;
    height: 665px;
}
}
.positionAbsolute{
    position: absolute;
    top: 0;
    left: 0;    
}


header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index:10;
    top: 0;
    border-bottom: 2px solid black;

    .headerMain{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        max-width: 1440px;

        .headerMain_logo{
            display:block;
            aspect-ratio:1/1;
            height: 100%;

            .headerMain_logoImg{
                width: 100%;
            }
        }
        .headerMain_list{
            display: flex;
            justify-content: space-between;
            gap: 20px;

            li{
                list-style: none;
                font-size: 18px;
                line-height: 27px;
                font-weight: bold;
                display: inline-block;
                margin-left: 1.3rem;
                a{
                    @include link();
                }
            }
        }

        .headerMain_spMenu{
            display: none;
            
    }
}
        .dropdown-wrapper{
            display: none;
        
        .dropdown{
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            max-width: 2000px;
            margin: 0 auto;

            li{
                list-style: none
            }

            a{
                @include link();
                font-size: 20px;
                font-weight: bold;
                padding:35px 20px ;
            }
        }
    }
}


main{
    max-width: 1440px;
    margin: 0 auto;
}

.empty{
    height: 90px;
}

article{
    width: 64%;
    margin: 100px auto 0;

        .site-title{
            width: 100%;
            box-sizing: border-box;
            font-size: 32px;
            padding: 24px 40px;
            background-color: white;
            border-left: 29px solid #BDE7FF;
            margin-bottom: 60px;
            box-shadow: 0 5px 3px gray;
        }
        .content{
            width: 90%;
            margin-bottom: 55px;
            
        }
}



.wantToRead{
    margin-top: 78px;
    margin: 88px auto 0;
    width: 92%;
    @include feature35pc();

    .wantToRead_title{
        @include title();
        width: 76%;
        margin: 0 auto 65px;
        border-bottom:2px solid #d3d3d3;
    }
    .feature-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
        .feature{
            width: 31%;
            margin-bottom: 72px;
    
            .feature_text{
                font-size: 20px;
                margin-bottom: 24px;
            }
            .feature_text__small{
                gap: 28px;
            
                .feature_textAcount{
                    gap: 14px;

                    .feature_textIcon{
                        width: 40px;
                    }
                }
        }
        }
    }
}

.Hashtag{
    width: 100%;
    margin-top: 20px;
    border-top: 4px dotted #4a4848;
    border-bottom:4px dotted #4a4848;

    ul{
        padding: 0;
    }


    .Hashtag_content{
        padding: 36px 0 54px;

        .Hashtag_title{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            margin: 0 auto 37px;

            .Hashtag_titleIcon{
                width: 83px;
            }
            .Hashtag_titleText{
                @include title();
            }
        }
        .Hashtag-wrapper{
            width: 92%;
            margin: 0 auto;
            display: flex;
            gap: 2px;
            justify-content: center;
            flex-wrap: wrap;
        
           .Hashtag_text{
            background-color: #30261e;
            list-style: none;

            a{
                display: block;
                color: white;
                font-size: 20px;
                font-weight: bold;
                line-height: 27px;
                margin: 5px ;
            }
        }
    }

        .wp-tag-cloud{
            width: 92%;
            margin: 0 auto;
            display: flex;
            gap: 2px;
            justify-content: center;
            flex-wrap: wrap;
        }
        .Hashtag_text{
            background-color: #30261e;
            list-style: none;

            a{
                display: block;
                color: white;
                font-size: 20px;
                font-weight: bold;
                line-height: 27px;
                margin: 5px ;
            }
        }
    }
}


footer{
    margin-top: 72px;
    background-color: #FAF0DB;
    padding: 90px 0 25px;

        .pcFooter_content{
            width: 71%;
            margin: 0 auto;
            text-align: center;

            .pcFooter_logo__nantopi{
                width: 14%;
            }
            .pcFooter_list{
                border-top: 2px solid #d3d3d3;
                display: flex;
                padding: 0;
                justify-content: space-around;
                flex-wrap: wrap;
                
                ul{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap; 
                    padding: 0;

                }
                li{
                    list-style: none;

                    a{
                    @include link();
                    font-size: 20px;
                    font-weight: bold;
                    padding: 38px 10px;
                }
                
                }

                
            }
            .pcFooter_textIcon{
                width: 19%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 49px;

                .pcFooter_logo__sns{
                    display: block;
                    width:21%;
                    padding-top:6px ;
                }
                .pcFooter_logo__gakuson{
                    width: 37%;
                    padding-top: 0;
                }

                img{
                    width: 100%;
                    object-fit: contain;
                }
        
                }
                .pcFooter_copyRight{
                    text-align: center;
                }
                }

                .spFooter{
                    display:none;
                }
            }

            