body {
  background-color: #EDF2F5;
  color: #43474A;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

.transformSkewY {
  position: relative;
  z-index: -1;
  height: 100vh;
}
.transformSkewY .transformSkewY_1 {
  background-color: #BDE7FF;
  transform: skewY(-4.87deg);
  margin-top: 193px;
  height: 665px;
}

.positionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: 2px solid black;
}
header .headerMain {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
header .headerMain .headerMain_logo {
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
}
header .headerMain .headerMain_logo .headerMain_logoImg {
  width: 100%;
}
header .headerMain .headerMain_list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .headerMain .headerMain_list li {
  list-style: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  display: inline-block;
  margin-left: 1.3rem;
}
header .headerMain .headerMain_list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
}
header .headerMain .headerMain_spMenu {
  display: none;
}
header .dropdown-wrapper {
  display: none;
}
header .dropdown-wrapper .dropdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}
header .dropdown-wrapper .dropdown li {
  list-style: none;
}
header .dropdown-wrapper .dropdown a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 35px 20px;
}

main {
  max-width: 100%;
  margin: 0 auto;
}

.empty {
  height: 90px;
}

article {
  width: 64%;
  margin: 100px auto 0;
}
article .wp-block-post-title {
  width: 100%;
  box-sizing: border-box;
  font-size: 32px;
  padding: 24px 40px;
  background-color: white;
  border-left: 29px solid #BDE7FF;
  margin-bottom: 60px;
  box-shadow: 0 5px 3px gray;
}
article .content {
  width: 90%;
  margin-bottom: 55px;
}

.wantToRead {
  margin-top: 78px;
  margin: 88px auto 0;
  width: 92%;
}
.wantToRead .feature-wrapper .feature {
  display: block;
  color: #43474A;
  text-decoration: none;
}
.wantToRead .feature-wrapper .feature .Thumbnail {
  width: 100%;
  margin-bottom: 22px;
  aspect-ratio: 17/10;
}
.wantToRead .feature-wrapper .feature .Thumbnail img {
  border: 1.5px solid #575454;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.wantToRead .feature-wrapper .feature .feature_text {
  font-weight: bold;
}
.wantToRead .feature-wrapper .feature .feature_text__small {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wantToRead .feature-wrapper .feature .feature_text__small .feature_textAcount {
  display: flex;
  align-items: center;
}
.wantToRead .feature-wrapper .feature .feature_text__small .feature_textAcount .feature_textIcon {
  aspect-ratio: 1/1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wantToRead .wantToRead_title {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  width: 76%;
  margin: 0 auto 65px;
  border-bottom: 2px solid #d3d3d3;
}
.wantToRead .feature-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wantToRead .feature-wrapper .feature {
  width: 31%;
  margin-bottom: 72px;
}
.wantToRead .feature-wrapper .feature .feature_text {
  font-size: 20px;
  margin-bottom: 24px;
}
.wantToRead .feature-wrapper .feature .feature_text__small {
  gap: 28px;
}
.wantToRead .feature-wrapper .feature .feature_text__small .feature_textAcount {
  gap: 14px;
}
.wantToRead .feature-wrapper .feature .feature_text__small .feature_textAcount .feature_textIcon {
  width: 40px;
}

.Hashtag {
  width: 100%;
  margin-top: 20px;
  border-top: 4px dotted #4a4848;
  border-bottom: 4px dotted #4a4848;
}
.Hashtag ul {
  padding: 0;
}
.Hashtag .Hashtag_content {
  padding: 36px 0 54px;
}
.Hashtag .Hashtag_content .Hashtag_title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 auto 37px;
}
.Hashtag .Hashtag_content .Hashtag_title .Hashtag_titleIcon {
  width: 83px;
}
.Hashtag .Hashtag_content .Hashtag_title .Hashtag_titleText {
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
}
.Hashtag .Hashtag_content .Hashtag-wrapper {
  width: 92%;
  margin: 0 auto;
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-wrap: wrap;
}
.Hashtag .Hashtag_content .Hashtag-wrapper .Hashtag_text {
  background-color: #30261e;
  list-style: none;
}
.Hashtag .Hashtag_content .Hashtag-wrapper .Hashtag_text a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 5px;
}
.Hashtag .Hashtag_content .wp-tag-cloud {
  width: 92%;
  margin: 0 auto;
  display: flex;
  gap: 2px;
  justify-content: center;
  flex-wrap: wrap;
}
.Hashtag .Hashtag_content .Hashtag_text {
  background-color: #30261e;
  list-style: none;
}
.Hashtag .Hashtag_content .Hashtag_text a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  margin: 5px;
}

footer {
  margin-top: 72px;
  background-color: #FAF0DB;
  padding: 90px 0 25px;
}
footer .pcFooter_content {
  width: 71%;
  margin: 0 auto;
  text-align: center;
}
footer .pcFooter_content .pcFooter_logo__nantopi {
  width: 14%;
}
footer .pcFooter_content .pcFooter_list {
  border-top: 2px solid #d3d3d3;
  display: flex;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .pcFooter_content .pcFooter_list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
footer .pcFooter_content .pcFooter_list li {
  list-style: none;
}
footer .pcFooter_content .pcFooter_list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 38px 10px;
}
footer .pcFooter_content .pcFooter_textIcon {
  width: 19%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}
footer .pcFooter_content .pcFooter_textIcon .pcFooter_logo__sns {
  display: block;
  width: 21%;
  padding-top: 6px;
}
footer .pcFooter_content .pcFooter_textIcon .pcFooter_logo__gakuson {
  width: 37%;
  padding-top: 0;
}
footer .pcFooter_content .pcFooter_textIcon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .pcFooter_content .pcFooter_copyRight {
  text-align: center;
}
footer .spFooter {
  display: none;
}/*# sourceMappingURL=style-35(pc).css.map */