@charset "UTF-8";
@media(max-width:1200px){
    
    .mainBody{
    display: block;
    width: 92%;
    margin: 101px auto 0;

    .article{
        width: 100%;
    }

    .popular{
        width: 100%;
        margin-top: 100px;
       
    
        .feature-wrapper{
            display: flex;
            justify-content: space-between;
            
            .feature{
                width: 31%;
                margin-bottom: 72px;
        
                .Thumbnail{
                    margin-bottom: 22px;
                }
                .feature_text{
                    font-size: 20px;
                    margin-bottom: 24px;
                }
                .feature_text__small{
                    gap: 28px;

                    .feature_textAcount{
                        gap: 14px;
                        
                        .feature_textIcon{
                            width: 40px;
                        }
                    }
            }
            }
        }
        .popular_title{
            font-size: 32px;
            margin:0 auto 51px;
            width: 76%;
        }
        
        .advertisement{
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            margin: 40px 0;

            .advertisement_content{
                width: 31%;         
            }
        }
    }
    }
}









@media(max-width:800px){
    header{
   
        .headerMain{
            height: 79px;
    
            .headerMain_list{
                display:none;
            }
            .headerMain_spMenu{
                display: block;
                height: 100%;
    
                .headerMain_spMenuContent{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
    
                    .headerMain_spMenuImg{
                        height: 70%;
                    }   
        }
    }
            .dropdown-wrapper{
                display: none;
        }
    }    
    }
    
    
    .empty{
        height: 79px;
    }


    .mainBody{
        .popular{
            .feature-wrapper{
                flex-wrap: wrap;

                .feature{
                    margin: 0 0 74px 0;
                    width: 48%;
                }
            }

            .advertisement{
                .advertisement_content{
                    width: 48%;
                }
            }

        }
    }
}

@media(max-width:550px){
.transformSkewY{
    
    .transformSkewY_1{
        transform: skewY(-11.09deg);
        margin-top: 193px;
        height: 665px;
    }
    }
    
    
    .empty{
        height: 79px;
    }
    
    .mainBody{

    .article{

    .article_title{
        font-size: 24px;
        padding: 18px 20px;
        border-left: 22px solid #BDE7FF;
        box-shadow: 0 4px 2px gray;
    }
}
.popular{
    margin-top: 116px;

    .feature-wrapper{
        display: block;
        
        .feature{
            margin: 0 auto 20px;
            width: 70%;
    
            .Thumbnail{
                margin-bottom: 0px;
            }
            .feature_text{
                font-size: 16px;
                margin-bottom: 10px;
            }
            .feature_text__small{
                font-size: 13px;

                .feature_textAcount{
                    gap: 7px;
                    
                    .feature_textIcon{
                        width: 33px;
                    }
                }
        }
        }
    }
    .popular_title{
        font-size: 24px;
        margin-bottom:17px;
        width: 100%;
    }
    .feature_popularTitle{
     font-size:24px ;  
    }

   
}
}
.Hashtag{
    margin-top:30px ;
    padding: 36px 0;

    .Hashtag_content{
        padding: 19px 0 15px;

        .Hashtag_title{
            gap: 3px;
            margin: 0 auto 24px;

            .Hashtag_titleIcon{
                width: 52px;
            }
            .Hashtag_titleText{
                font-size: 24px;
            }
        }
        .wp_tag_cloud{
            width: 82%;
        
           .Hashtag_text{
    
            ul{
                padding: 0;
            }

            a{
                font-size: 18px;
                margin: 3px;
            }
        }
    }
    }
}

footer{
    margin-top: 80px;
    padding: 59px 0 27px;

    ul{
        padding: 0;
    }
        .pcFooter{
            display: none;
        }
        .spFooter{
            display: block;

            .spFooter_content{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 81%;
                margin: 0 auto;

                .spFooter_list{
                    li{
                        list-style: none;
                    a{
                        display: block;
                        color: #43474A;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        padding-bottom: 23px;
                        width: auto;
                        &:last-child{
                            padding-bottom: none;
                        }
                    }
                    ul{
                        border-top: 2px solid #d3d3d3;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap; 
                        padding: 0;
                    }
                }
                }
                a{
                    display: block;
                    width: 33%;

                    .spFooter_logo__nantopi{
                        width: 100%;
                    }
                }
            }
            .spFooter_copyRight{
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                text-align: center;
                margin-top:62px ;
            }
        }
    }

}







@media(max-width:550px){
    .mainBody{
    .feature-wrapper{
        display: block;
    
        .feature{
            width: 100%;
    
            .feature_text{
                font-size: 20px;
                margin-bottom: 24px;
            }
            .feature_text__small{
                display: flex;
                gap: 28px;
                align-items: center;
            
                .feature_textAcount{
                    display: flex;
                    gap: 14px;

                    .feature_textIcon{
                        width: 40px;
                    }
                }
        }
        }
    }
}
}

