body {
  background-color: #EDF2F5;
  color: #43474A;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
}

.transform-skewY {
  position: relative;
  z-index: -1;
  height: 100vh;
}
.transform-skewY .transform-skewY_1 {
  background-color: #BDE7FF;
  transform: skewY(-4.87deg);
  margin-top: 193px;
  height: 665px;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  border-bottom: 2px solid black;
}
header .header-main {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  max-width: 1440px;
}
header .header-main .headerLogo {
  display: block;
  aspect-ratio: 1/1;
  height: 100%;
}
header .header-main .headerLogo .headerLogo__img {
  width: 100%;
}
header .header-main li {
  list-style: none;
}
header .header-main .header-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
header .header-main .header-list li {
  list-style: none;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  display: inline-block;
  margin-left: 1.3rem;
}
header .header-main .header-list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
}
header .header-main .search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 2px solid black;
  border-radius: 10px;
  width: 34%;
  height: 44%;
  padding: 0 5px;
}
header .header-main .search-container .search-icon {
  height: 50%;
}
header .header-main .search-container .search-input {
  display: inline-block;
  height: 100%;
  width: 90%;
}
header .header-main .menu-icon {
  height: 50%;
}
header .header-main .sp-menu {
  display: none;
}
header .dropdown-wrapper {
  display: none;
}
header .dropdown-wrapper .dropdown {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
}
header .dropdown-wrapper .dropdown li {
  list-style: none;
}
header .dropdown-wrapper .dropdown a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 35px 20px;
}

.empty {
  height: 90px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.mainvisual {
  background-color: #2e2d2d;
  color: white;
  padding: 100px 0;
}
.mainvisual .mainvisual_text {
  text-align: center;
}

.mainBody_content {
  margin-top: 50px;
}
.mainBody_content h2 {
  text-align: center;
}
.mainBody_content p {
  text-align: center;
}

footer {
  margin-top: 72px;
  background-color: #FAF0DB;
  padding: 90px 0 25px;
}
footer .footer-content {
  width: 71%;
  margin: 0 auto;
  text-align: center;
}
footer .footer-content .footer-logo {
  width: 14%;
}
footer .footer-content .footer-list {
  border-top: 2px solid #d3d3d3;
  display: flex;
  padding: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer .footer-content .footer-list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}
footer .footer-content .footer-list li {
  list-style: none;
}
footer .footer-content .footer-list li a {
  display: block;
  color: #43474A;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 38px 10px;
}
footer .footer-content .footer_icon {
  width: 19%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}
footer .footer-content .footer_icon .footer-icon_sns {
  display: block;
  width: 21%;
  padding-top: 6px;
}
footer .footer-content .footer_icon .footer-icon_gakuson {
  width: 37%;
  padding-top: 0;
}
footer .footer-content .footer_icon img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .footer-content .copy-right {
  text-align: center;
}
footer .sp-footer {
  display: none;
}/*# sourceMappingURL=style-36(pc).css.map */