@charset "UTF-8";
@media(max-width:800px){
@mixin link(){
    display: block;
    color: #43474A;
    text-decoration: none;
}

header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index:10;
    top: 0;

    .header-main{
        height: 79px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        max-width: 1440px;

        .headerLogo{
            display:block;
            aspect-ratio:1/1;
            height: 100%;

            .headerLogo__img{
                width: 100%;
            }
        }

        .header-list{
            display:none;
        }
        .search-container{
            display: none;
        }
        .menu-icon{
            display : none;
        }
        .sp-menu{
            display: block;
            height: 100%;

            .sp-menu-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                .sp-menu__search-icon{                    
                    height: 50%;
                    padding-right: 30px;
                }
                .sp-menu__menu-icon{
                    height: 70%;
                }
            
    }
}
        .dropdown-wrapper{
            display: none;
        
        .dropdown{
            display:flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            max-width: 2000px;
            margin: 0 auto;

            li{
                list-style: none
            }
            a{
                @include link();
                font-size: 20px;
                font-weight: bold;
                padding:35px 20px ;
            }
        }
    }
}    
}

.empty{
    height: 79px;
}
footer{
    margin-top: 80px;
    background-color: #FAF0DB;
    padding: 59px 0 27px;

    ul{
        padding: 0;
    }
        .pc-footer{
            display: none;
        }
        .sp-footer{
            display: block;
            .sp-footer-content{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 81%;
                margin: 0 auto;

                .sp-footer-list{
                    li{
                        list-style: none;
                    a{
                        @include link();
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 24px;
                        padding-bottom: 23px;
                        width: auto;
                        &:last-child{
                            padding-bottom: none;
                        }
                    }
                    ul{
                        border-top: 2px solid #d3d3d3;
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap; 
                        padding: 0;
                    }
                }
                }
                a{
                    display: block;
                    width: 33%;

                    .sp-footer-logo{
                        width: 100%;
                    }
                }
            }
            .sm-copy-right{
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                text-align: center;
                margin-top:62px ;
            }
        }
    }
}